* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: grid;
  place-items: center;
  align-items: center;
}
.container {
  width: 40rem;
  margin: 10rem;
  display: flex;
  flex-direction: column;
}
h3 {
  font-size: 2rem;
  margin: 0 auto 2rem auto;
  letter-spacing: 0.1rem;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
input {
  width: 4rem;
  padding: 0.1rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
}
.submit {
  padding: 0.3rem 1rem;
  letter-spacing: 0.1rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: rgb(144, 209, 240);
}
.paragraphs {
  margin-top: 3rem;
  font-size: 1.3rem;
}
.unit {
  margin: 2rem;
}
